@page "/fetchdata"

@using DodgeballStatsApp.Data
@inject PlayerRetrievalService PlayerRetrievalService

<h2>Match Stats</h2>

@if (cptPlayers == null)
{
  <p><em>Loading...</em></p>
}
else
{
  <div class="row">
    <div class="col-2">
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      @foreach (var player in cptPlayers)
      {
        <div class="row m-3">
          <button class="btn btn-primary">@player.Name</button>
        </div>
      }
    </div>

    <div class="col-4">
      <div class="row m-3">
        <button class="btn btn-primary">Hit</button>
      </div>
      <div class="row m-3">
        <button class="btn btn-primary">Caught</button>
      </div>
      <div class="row m-3">
        <button class="btn btn-primary">Successful Counter</button>
      </div>
      <div class="row m-3">
        <button class="btn btn-primary">Failed Counter</button>
      </div>
      <div class="row m-3">
        <button class="btn btn-primary">Missed</button>
      </div>
      <div class="row m-3">
        <button class="btn btn-primary">Successful Pre-Counter</button>
      </div>
      <div class="row m-3">
        <button class="btn btn-primary">Failed Pre-Counter</button>
      </div>
    </div>

    <div class="col-4">
      @foreach (var player in jhbPlayers)
      {
        <div class="row row m-3">
          <button class="btn btn-primary">@player.Name</button>
        </div>
      }
    </div>
  </div>

}

@code {
  private MatchLog round = new();

  private Player[] cptPlayers;

  private Player[] jhbPlayers;

  protected override async Task OnInitializedAsync()
  {
    cptPlayers = await PlayerRetrievalService.GetCptMenAsync();
    jhbPlayers = await PlayerRetrievalService.GetJhbMenAsync();
  }
}
